.App {
    text-align: center;
    background-color: rgba(208, 210, 212, 0.932);
}

p.justified {
    text-align: justify;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.container {
    background-color: white;
    margin-top: 10px;
    padding-top: 10px;
}

.container.nopadding {
    padding-top: 0px;
}

.row.nomargin {
    margin-top: -15px;
}

.App-link {
    color: #61dafb;
    font-family: 'Bebas Neue';
}

h1 {
    font-family: 'Bebas Neue';
}

.header_section {
    font-family: 'Bebas Neue';
    font-size: 2.5em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(208, 210, 212, 0.932);
    border-radius: 5px/5px;
}

.header_section_smaller {
    font-family: 'Bebas Neue';
    font-size: 2em;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(208, 210, 212, 0.932);
    border-radius: 5px/5px;
}

.with_bottom_margin {
    margin-bottom:15px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}